@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lato:wght@700&family=Montserrat:wght@700&family=Tilt+Prism&display=swap");
:root {
  --bbcolor: black;
  --bcolor: #212121;
  --blicolor: #000000d0;
  --wcolor: #fff;
  --blcolor: #177aec;
  --dbcolor: #124989;
  --rcolor: #f13b3b;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
  font-size: 85.5%;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
}
.main-body {
  background-color: var(--wcolor);
  max-width: 100%;
  min-height: 100dvh;
  /* overflow-x: hidden; */
  background-size: cover;
}
